<div class="content">
Total posts: <%= @posts_count %>
<% if admin_signed_in? %>
    <%= link_to "Add post", new_post_path, :id => 'new_post' %>
<% end %>
<br>
<%= paginate @posts %>
<% @posts.each do |post| %>
<div class="post">
  <div class="post-title">
     <%= link_to post.title, post, :id => "#{post.id}-read", :class => "post-title" %>
  </div>
  <%= post.body %>
  <br>
  <%= post.updated_at %>
</div>
<div class="post-links">
  <% if admin_signed_in? %>
    <div id = "admin-links" >
    <%= link_to "Edit", edit_post_path(post), :id => "#{post.id}-edit" %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  <% end %>
  Comments:
  <%= post.comments.count.to_s %>
</div>
<% end %>
</div>
