<div class="content">
<%= paginate @posts %>
<% @posts.each do |post| %>
<div class="post">
  <div class="post-title">
     <%= post.title %>
  </div>
  <%= post.body %>
  <br>
  <%= post.updated_at %>
</div>
<div class="post-links">
  <%= link_to "Read", post_path(post), :id => "#{post.id}-read" %>
  <%= link_to "Edit", edit_post_path(post), :id => "#{post.id}-edit" %>
</div>
<% end %>
</div>
