<div class="post-title">
<%= @post.title %>
</div>
<div class="post-body">
<%= raw(@post.body) %>
</div>
<div id="comments" >
<h2>Комментарии</h2>
<br>

<div id="user_comments">
<% @comments.each do |comment| %>
  <div id="comment_<%= comment.id.to_s %>" class="comment">
    <div class="comment_date">
    <% if admin_signed_in? %>
        <%= link_to 'Удалить',"#{post_path}/#{comment.id}/delete", :confirm => 'Точно?' %>
    <% end %>
      <%= comment.updated_at %>
    </div>
    <br>
    <%= comment.body %>
  </div>
  <% end %>
</div>
<br>
<%= form_for Comment.new, :as => :comment, :url => @post, :remote => true do |f| %>
    <%= hidden_field_tag 'comment[post_id]', @post.id %>
	<%= f.label :body, "Комментарий" %><br />
	<%= f.text_area :body, :rows => 8 %><br />
	<%= f.submit "Добавить" %>
<% end %>

</div>