<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :redactor %>
</head>
<body>

<header>

      <div id="logo">
         <%= link_to "Минималистический блог на rails", root_url, :id => 'logo' %>
      </div>
      <br>

      <div id="search">
      <% form_tag :method=>:get do %>
        <%= text_field_tag 's_query' ,''%>
        <%= submit_tag "Найти" %>
      <% end %>
      </div>

</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= yield %>


<footer>
      <div id="admin-login">
      <% if admin_signed_in? %>
      Admin
      <%= current_admin.email %>
      <%= link_to "logout", destroy_admin_session_path %>
      <% else %>
      [development] admin
      <%= link_to "login", new_admin_session_path %>
      <% end %>
    </div>
  &#169; 2011
<%= render 'layouts/social-links' %>
</footer>

</body>
</html>
