<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <h1>
    <div id="logo">
      <%= link_to "Welcome to my blog", root_url, :id => 'logo' %>
    </div>
    <div id="admin-login">
      <% if admin_signed_in? %>
      <%= current_admin.email %>
      <%= link_to "logout", destroy_admin_session_path %>
      <% else %>
      <%= link_to "admin login", new_admin_session_path %>
      <% end %>
    </div>
  </h1>

</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<aside>
Acts_as_taggable_on
</aside>

<%= yield %>


<footer>
  &#169; 2011
</footer>

</body>
</html>
